<div class="header-wrapper">
  <header class="header">
    <div class="container">
      <div class="header-content">
        <a class="logo" routerLink="/">
          <img src="LOGO-PRENACIONAL.png" alt="TecNM Logo" class="tecnm-logo">
        </a>
        <div class="event-info">
          <h1 class="event-title">LXVII Evento Prenacional Deportivo</h1>
          <h2 class="institution">Tecnológico Nacional de México | Instituto Tecnológico de Ciudad Victoria</h2>
          <p class="event-date">Del 02 al 06 de Junio 2025</p>
        </div>
      </div>
    </div>
  </header>
</div>